body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes walk {
  0% {
    transform: translateX(520px);
    opacity: 1;
  }
  60% {
    transform: translateX(160px);
    opacity: 1;
  }
  100% {
    transform: translateX(160px);
    opacity: 0;
  }
}

@keyframes door {
  0%, 50% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: rotateY(-60deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes read {
  0%, 70% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-walk {
  animation: walk 9s ease-in-out infinite;
}

.animate-door {
  animation: door 9s ease-in-out infinite;
}

.animate-read {
  animation: read 9s ease-in-out infinite;
}
